{{#if errorTemp}}
<div class="container">
    <div class="well" style="margin:0 auto;">
        <h3>Page Not Found.</h3>
        <a href="/" class="btn btn-primary" style="padding-top:15px;margin-top:10px;">Go Home.</a>
    </div>
</div>
{{/if}}