{{#if search_bar}}
<form action="/students" method="POST" class="form-inline my-2 my-lg-0">
    <input id="searchInput" name="searchInput" class="form-control mr-sm-2" style="width:600px;border-radius:0px;" type="search"
        placeholder="Search with roll no..." aria-label="Search">
    <button type="submit" class="btn btn-default">
        <i class="fa fa-search fa-lg"></i>
    </button>
</form>
{{/if}}