<div class="container">
    <h2 class="text-center">Get Course By Department Name.</h2>
    <hr>
    <input type="text" class="form-control" placeholder="Enter Department Name ..." onchange="getCourses(this.value);">
</div>