<select name="dept" onchange="getCourses(this.value);" id="dept">
    <option value="IT">IT</option>
    <option value="Engineering">Engineering</option>
    <option value="Management">Management</option>
    <option value="Crash Course">Crash Course</option>
</select>

<select name="courses" id="courses"></select>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    function getCourses(dept) {
        //console.log(dept);
        const URL = `http://localhost:3000/courses/getCourse/${dept}`;

        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                let response = JSON.parse(xhttp.responseText);
                console.log(response);
                var output = '';

                for (let i = 0; i < response.length; i++) {
                    output += `<option value="${response[i].courseName}">${response[i].courseName}</option>`;
                }
                document.getElementById('courses').innerHTML = output;
            }
        };

        xhttp.open("GET", "http://localhost:3000/courses/getCourse/" + dept, true);
        xhttp.send();
    }
</script>