<div class="container-fluid">
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <!--h1>:(</h1-->
                <h1>&#9785;</h1>
            </div>
            <h2>{{message}}</h2>
            <p>{{description}}</p>
            <a href="/">go back to home &nbsp;<span class="fa fa-chevron-right fa-lg"></span></a>
        </div>
    </div>
</div>