<div class="container-fluid">
    <form action="/users/edit/{{result.id}}?_method=PUT" method="POST" class="form-edit-user">
        <input type="hidden" name="_method" value="PUT">
        {{#each errors}}
        <div class="alert alert-danger alert-dismissible fade show custom-alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="media">
                <i class="fa fa-exclamation-triangle fa-3x" aria-hidden="true"></i>
                <div class="media-body ml-4">
                    <h6 class="mt-2" style="line-height:5px;"><strong>{{text}}</strong></h6>
                    Change a few things up and try submitting again.
                </div>
            </div>
        </div>
        {{/each}}

        <h3>Edit user account</h3>

        <hr>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Full Name</label>
                <input type="text" class="form-control" name="name" value="{{result.name}}" placeholder="Full Name">
            </div>
            <div class="form-group col-md-6">
                <label for="name">Email Address</label>
                <input type="email" class="form-control" name="email" value="{{result.email}}" placeholder="Personal Email">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="designation">Profile</label>
                <select name="role" class="form-control custom-select">
                    {{#select result.role}}
                    <option value="">Choose...</option>
                    <option value="Teacher">Teacher</option>
                    <option value="Principal">Principal</option>
                    <option value="Accountant">Accountant</option>
                    {{/select}}
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="name">Is Admin</label>
                <select name="isAdmin" class="form-control custom-select">
                    {{#select result.isAdmin}}
                    <option value="">Choose...</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                    {{/select}}
                </select>
            </div>
        </div>

        <h5>Access Privileges</h5>
        <hr>

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="">Create</label>
                <select name="create" class="form-control custom-select">
                    {{#select result.privileges.create}}
                    <option value="">Choose...</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                    {{/select}}
                </select>
            </div>

            <div class="form-group col-md-3">
                <label for="">Read</label>
                <select name="read" class="form-control custom-select">
                    {{#select result.privileges.read}}
                    <option value="">Choose...</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                    {{/select}}
                </select>
            </div>

            <div class="form-group col-md-3">
                <label for="">Update</label>
                <select name="update" class="form-control custom-select">
                    {{#select result.privileges.update}}
                    <option value="">Choose...</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                    {{/select}}
                </select>
            </div>

            <div class="form-group col-md-3">
                <label for="">Delete</label>
                <select name="delete" class="form-control custom-select">
                    {{#select result.privileges.delete}}
                    <option value="">Choose...</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                    {{/select}}
                </select>
            </div>
        </div>

        <div class="form-row">
            <button type="submit" class="btn btn-default btn-lg btn-block" style="margin-bottom:10px;">Edit User</button>
        </div>
    </form>
</div>