<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="media media-user-requests">
                <img class="mr-3" src="/img/logos/icons/check.png" width="50" alt="Generic placeholder image">
                <div class="media-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="mt-0">User Registration Requests</h5>
                            There are 135 user registration requests pending.
                        </div>
                        <div class="col-md-4">
                            <a href="/users/requests">
                                <button type="button" class="btn btn-default btn-lg" style="width:100%">Details</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>