<form action="" class="form-signup needs-validation" novalidate>
    <h3>Create an account</h3>
    <p>Note: Registrations only for authorized members will be approved.</p>
    <hr>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="" placeholder="Full Name" required>
            <div class="invalid-feedback">
                Please enter a name.
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="name">Email Address</label>
            <input type="email" class="form-control" name="" placeholder="Personal Email" required>
            <div class="invalid-feedback">
                Please enter a valid email.
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="designation">Designation</label>
            <select name="" class="form-control custom-select" required>
                <option value="">Choose...</option>
                <option value="Teacher">Teacher</option>
                <option value="Principal">Principal</option>
                <option value="Accountant">Accountant</option>
            </select>
            <div class="invalid-feedback">
                Please choose a designation.
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="name">Employeement Id</label>
            <input type="text" class="form-control" name="" placeholder="Employeement Id" required>
            <div class="invalid-feedback">
                Please enter an employeement id.
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name">Password</label>
            <input type="text" class="form-control" name="" placeholder="Password" required>
            <div class="invalid-feedback">
                Please enter a password.
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="name">Confirm Password</label>
            <input type="text" class="form-control" name="" placeholder="Confirm Password" required>
            <div class="invalid-feedback">
                Please confirm password.
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <small id="passwordHelpBlock" class="form-text text-muted">
            Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces,
            special characters,
            or emoji.
        </small>
    </div>

    <div class="form-row">
        <button type="submit" class="btn btn-default btn-lg btn-block" style="margin-bottom:10px;">Sign
            up</button>
        <!--p class="m-auto">OR</p>
        <a href="#" class="google-signin">
            <img src="/img/g-signin.svg" alt="">&nbsp; Sign in with Google
        </a-->
    </div>
</form>